.experiences
{
	max-width: 60rem;
	width: 90%;
	margin: auto;
    margin-top: 13rem;
    margin-bottom: 15rem;
}

.experiences h1
{
	text-align: center;
	color: #fff;
	margin-bottom: 2rem;
}

.experiences li
{
	margin: 0;
	padding: 0;
	margin-top: 0.25rem;
}
.experiences img
{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 40%;
}
.experiences li:hover
{
	color: #555;
}