.version {
	position: relative;
	color: aliceblue;
	display: flex;
	padding: 10px;
	justify-content: flex-end;
	font-size: 0.75rem;
	background: #f52f4c;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.version a
{
	display: flex;
	width: 35px;
	height: 35px;
	margin-right: 10px;
	transition: 0.5s;
}
.version ion-icon
{
	width: 35px;
	height: 35px;
	color: rgb(255, 255, 255);
	transition: 0.5s;
}
.version a:hover
{
	transform: scale(1.5) rotate(-30deg) translateY(-40%);
	z-index: 1000;
}
.version .sign
{
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
	color: #f52f4c;
	font-size: 1.2rem;
	font-weight: 600;
	right: 135px;
	bottom: 6rem;
	width:160px;
	height: 70px;
	background: #fff;
	border-radius: 10px;
}
.version .triangle
{
	position: absolute;
	right: 150px;
	bottom: 5rem;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 30px 0;
	border-color: transparent #fff transparent transparent;
}