.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: #f52f4c;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 10;
}
.header h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

select
{
	outline: 0;
	border: 0;
	background: #f52f4c;
	color: #fff;
	appearance: none;
	cursor: pointer;
}